body {
	font-family:'Exo 2', sans-serif;
	font-size: 16px;
	text-decoration: none;
	margin: 0 0 0 1px;
	padding: 0;
	background-color: #f2f2f2;	
}
/*-------------------grid------------------------------*/
.grid 
	{
	display: grid;
	grid-template-columns: repeat(autofit, minmax(200px,1fr));
	grid-gap: 3px;
	grid-template-areas:
	"nav"
	"slider"
	"about"
	"band"
	"footer";
}
/*-------------------nav------------------------------*/
nav {

	grid-area: nav;
}
/*-------------------slider------------------------------*/
	.slider {
	
	grid-area: slider; 
}

.carousel-item{
	max-height: 500px;	
}
/*-------------------about------------------------------*/
.about {
	background-color: #f2f2f2;
	margin-top: 20px;
	padding: 20px;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	grid-area: about;
}
