body {
	font-family:'Exo 2', sans-serif;
	font-size: 16px;
	text-decoration: none;
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}
/*-------------------grid------------------------------*/
.grid 
	{
	display: grid;
	grid-template-columns: repeat(autofit, minmax(200px,1fr));
	grid-gap: 3px;
	grid-template-areas:
	"nav"
	"slider"
	"about"
	"band"
	"footer";
}
/*-------------------nav------------------------------*/
nav {
	grid-area: nav;
}
/*-------------------slider------------------------------*/
	.slider {
	grid-area: slider; 
}
.carousel-item{
	max-height: 500px;	
}
.carousel-caption {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
	bottom: 0;
  background-color: rgba(0,0,0,0.5);
}
.carousel-btn-info {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%,-50%);
}
/*-------------------about------------------------------*/
.about {
	background-color: #f2f2f2;
	padding: 20px;
	margin: 0 15px;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	grid-area: about;
}
/*-------------------band------------------------------*/
.band {
	display: flex;
	justify-content: space-around;
	margin: 20px 0 0 0;
	grid-area: band;
	margin-right: 15px;
	margin-left: 15px;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	height: 100%;
}
.card-img-top {
	width: 100%;
	height: 200px;
}
.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card-text {
	justify-self: flex-start;
}
.card-body a {
	align-self: flex-start;
}
/*-------------------footer------------------------------*/
.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 70px;
	z-index: 1;
	grid-area: footer;
}
.footer-logo {
	font-size: 16px;
	font-weight: 900;
	color: #fafafa;
	text-transform: uppercase;
	align-self: center;
}
.address {
	color: #fafafa;
}
#social a {
 color: #fff;
padding-left: 20px;
}
/*-------------------media queries------desktop------------------------*/
@media screen and (min-width: 992px) {
/*-------------------grid------------------------------*/
.grid {
	display: grid;
	grid-template-columns: 50px 1fr 1fr 50px;
	grid-template-areas: 
	" nav nav nav nav "
	". slider slider .  "
	". about about . "
	". band band . "
	"footer footer footer footer "
	;
}
.about {
	margin-top: 10px;
}
/*-------------------footer------------------------------*/
.footer-logo {
	font-size: 120%;	
}
}